<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Archetype Created Web Application</display-name>

	

	<!-- ================================================= -->
	<!-- ===== Config Spring MVC ==== ==================== -->
	<!-- ================================================= -->
 
  <servlet>
    <servlet-name>springrest</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>springrest</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
	

	<!-- //////////// 2. déclaration de l'écouteur de la servlet ///////////////// -->

	<!-- l'écouteur -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- emplacement des fichiers de déf des beans spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext.xml
			/WEB-INF/springrest-servlet.xml
		</param-value>
	</context-param>

	<!-- ================================================= -->
	<!-- ===== welcome page ============================== -->
	<!-- ================================================= -->
	<welcome-file-list>
		<welcome-file>NewFile.html</welcome-file>
	</welcome-file-list>



</web-app>
